#cpp code owners
cpp/               @rapidsai/kvikio-cpp-codeowners

#python code owners
python/            @rapidsai/kvikio-python-codeowners

#legate code owners
legate/            @rapidsai/kvikio-legate-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/kvikio-cmake-codeowners
**/cmake/          @rapidsai/kvikio-cmake-codeowners
build.sh           @rapidsai/kvikio-cmake-codeowners
python/setup.py    @rapidsai/kvikio-cmake-codeowners @rapidsai/kvikio-python-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
