*.*~
build
python/_skbuild
python/record.txt
*.so
dask-worker-space
__pycache__
.cache
*.egg-info
.vscode
python/kvikio/_lib/*.cpp
cufile.log
docs/build/
cpp/doxygen/html/
.mypy_cache
.hypothesis
.ipynb_checkpoints

# clang tooling
compile_commands.json
