# Copyright (c) 2019-2025, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--config-root=python/", "--resolve-all-configs"]
        files: python/.*
        types_or: [python, cython, pyi]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: python/.*
        args: ["--config", "python/kvikio/pyproject.toml"]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--config=.flake8"]
        files: python/.*$
        types: [file]
        types_or: [python, cython]
        additional_dependencies: ["flake8-force"]
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.3.0'
    hooks:
      - id: mypy
        additional_dependencies: [types-cachetools, zarr]
        args: ["--config-file=python/kvikio/pyproject.toml",
                "python/kvikio/kvikio",
                "python/kvikio/tests",
                "python/kvikio/examples"
              ]
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./cpp/scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
      - id: cmake-lint
        name: cmake-lint
        entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        exclude: |
          (?x)^(
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude: |
          (?x)^(
            ^CHANGELOG.md$
          )
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.6.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
              ^[.]pre-commit-config[.]yaml$|
              CMakeLists[.]txt$|
              meta[.]yaml$
        exclude: |
          (?x)^(
            cpp/cmake/Modules/FindCUDAToolkit[.]cmake$
          )
      - id: verify-alpha-spec
      - id: verify-codeowners
        args: [--fix, --project-prefix=kvikio]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.17.0
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
        files: ^ci/


default_language_version:
      python: python3
