name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - check-nightly-ci
      - changed-files
      - checks
      - conda-cpp-build
      - conda-cpp-tests
      - conda-java-tests
      - conda-python-build
      - conda-python-tests
      - docs-build
      - devcontainer
      - wheel-cpp-build
      - wheel-python-build
      - wheel-python-tests
      - telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@main
    if: always()
    with:
      needs: ${{ toJSON(needs) }}
  check-nightly-ci:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Get PR Info
        id: get-pr-info
        uses: nv-gha-runners/get-pr-info@main
      - name: Check if nightly CI is passing
        uses: rapidsai/shared-actions/check_nightly_success/dispatch@main
        with:
          repo: ${{ github.repository }}
          target-branch: ${{ fromJSON(steps.get-pr-info.outputs.pr-info).base.ref }}
  changed-files:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/changed-files.yaml@main
    with:
      files_yaml: |
        build_docs:
          - '**'
          - '!.clang-format'
          - '!.clang-tidy'
          - '!.codespellrc'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_*.sh'
          - '!ci/test_*.sh'
          - '!codecov.yml'
        test_cpp:
          - '**'
          - '!.codespellrc'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/build_wheel*.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_pytests.sh'
          - '!ci/test_python.sh'
          - '!ci/test_wheel.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!notebooks/**'
          - '!python/**'
        test_python_conda:
          - '**'
          - '!.clang-format'
          - '!.clang-tidy'
          - '!.codespellrc'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_wheel*.sh'
          - '!ci/check-style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_wheel.sh'
          - '!ci/validate_wheel.sh'
          - '!docs/**'
          - '!notebooks/**'
        test_python_wheels:
          - '**'
          - '!.clang-format'
          - '!.clang-tidy'
          - '!.codespellrc'
          - '!.devcontainer/**'
          - '!.github/CODEOWNERS'
          - '!.github/copy-pr-bot.yaml'
          - '!.github/labeler.yml'
          - '!.github/ops-bot.yaml'
          - '!.github/release.yml'
          - '!.github/workflows/trigger-breaking-change-alert.yaml'
          - '!.pre-commit-config.yaml'
          - '!.shellcheckrc'
          - '!CONTRIBUTING.md'
          - '!README.md'
          - '!ci/build_cpp.sh'
          - '!ci/build_docs.sh'
          - '!ci/build_python.sh'
          - '!ci/check_style.sh'
          - '!ci/release/update-version.sh'
          - '!ci/run_ctests.sh'
          - '!ci/test_cpp.sh'
          - '!ci/test_java.sh'
          - '!ci/test_python.sh'
          - '!conda/**'
          - '!docs/**'
          - '!java/**'
          - '!notebooks/**'
  telemetry-setup:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      OTEL_SERVICE_NAME: "pr-kvikio"
    steps:
      - name: Telemetry setup
        # This gate is here and not at the job level because we need the job to not be skipped,
        # since other jobs depend on it.
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  checks:
    secrets: inherit
    needs: telemetry-setup
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@main
    with:
      ignored_pr_jobs: telemetry-summarize
  conda-cpp-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_cpp.sh
  conda-cpp-tests:
    needs: [conda-cpp-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_cpp
    with:
      build_type: pull-request
      script: ci/test_cpp.sh
  conda-java-tests:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/test_java.sh"
  conda-python-build:
    needs: conda-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: pull-request
      script: ci/build_python.sh
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  conda-python-tests:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_conda
    with:
      build_type: pull-request
      script: ci/test_python.sh
  docs-build:
    needs: [conda-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).build_docs
    with:
      build_type: pull-request
      node_type: "gpu-l4-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:26.04-latest"
      script: "ci/build_docs.sh"
  devcontainer:
    needs: telemetry-setup
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/build-in-devcontainer.yaml@main
    with:
      arch: '["amd64", "arm64"]'
      cuda: '["13.1"]'
      node_type: "cpu8"
      env: |
        SCCACHE_DIST_MAX_RETRIES=inf
        SCCACHE_SERVER_LOG=sccache=debug
        SCCACHE_DIST_FALLBACK_TO_LOCAL_COMPILE=false
      build_command: |
        sccache --zero-stats;
        build-all --verbose 2>&1 | tee telemetry-artifacts/build.log;
        python -c "import kvikio; print(kvikio.__version__)";
        sccache --show-adv-stats | tee telemetry-artifacts/sccache-stats.txt;
  wheel-cpp-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_cpp.sh
      package-name: libkvikio
      package-type: cpp
  wheel-python-build:
    needs: wheel-cpp-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: pull-request
      node_type: cpu8
      script: ci/build_wheel_python.sh
      package-name: kvikio
      package-type: python
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-python-tests:
    needs: [wheel-python-build, changed-files]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@main
    if: fromJSON(needs.changed-files.outputs.changed_file_groups).test_python_wheels
    with:
      build_type: pull-request
      script: ci/test_wheel.sh
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: pr-builder
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
